 <!-- Habilidades -->
 <div class="skills" *ngFor="let habi of habilidades">
  <h2 class="skills-h2">Skills
    <button type="button" class="btn btn-success editar">Editar</button>
    <button type="button" class="btn btn-danger borrar">X</button>
  </h2>
  <h5 class="skills-h5">{{habi.nombre}}</h5>
  <div class="progress" style="height: 25px;">
    <div class="progress-bar bg-success prueba-bar" role="progressbar" style="width: 80%" aria-valuenow="25"
      aria-valuemin="0" aria-valuemax="100"><strong>80%</strong></div>
  </div><br>
  <h5 class="skills-h5">{{habi.nombre}}</h5>
  <div class="progress" style="height: 25px;">
    <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0"
      aria-valuemax="100"><strong>70%</strong></div>
  </div><br>
  <h5 class="skills-h5">{{habi.nombre}}</h5>
  <div class="progress" style="height: 25px;">
    <div class="progress-bar bg-success" role="progressbar" style="width: 45%" aria-valuenow="25" aria-valuemin="0"
      aria-valuemax="100"><strong>45%</strong></div>
  </div><br>
  <input id="inputUno" type="text" placeholder="Presentate">
</div>
