  <!-- Conocimientos -->
  <div class="conocimientos">
    <h2 class="conocimientos-h2">Conocimientos Extra
      <button type="button" class="btn btn-success editar">Editar</button>
      <button type="button" class="btn btn-danger borrar">X</button>
    </h2>
    <ul *ngFor="let est of estudios">
      <li>{{est.especializacion}}</li>
      <li>{{est.especializacion}}</li>
      <li>{{est.especializacion}}</li>

    </ul>
    <input id="inputUno" type="text" placeholder="Presentate">
  </div>
