<div class="container">
  <div class="row">
      <div id="newC">
          <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
              <div class="form-group">
                  <label for="nombreC">Nombre</label>
                  <input type="text" class="form-control" id="nombreC" name="nombreC" [(ngModel)]="nombreC" required>
              </div>

              <button class="btn btn-primary">
                  Agregar conocimiento
              </button>
          </form>
      </div>
  </div>
</div>
