<div class="container">
  <div class="row">
      <div id="newEs">
          <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
              <div class="form-group">
                  <label for="nombreEst">Nombre</label>
                  <input type="text" class="form-control" id="nombreEst" name="nombreEst" [(ngModel)]="nombreEst" required>
              </div>
              <div class="form-group">
                  <label for="especializacion">Especializacion</label>
                  <input type="text" class="form-control" id="especializacion" name="especializacion" [(ngModel)]="especializacion" required>
              </div>
              <button class="btn btn-primary">
                  Agregar
              </button>
          </form>
      </div>
  </div>
</div>
