<!--Proyectos -->
<div class="proyects">
  <h2 class="proyect-h2">Proyectos
    <div class="col-lg-2">

      <button type="button" class="btn btn-success" routerLink="/nuevoproy" *ngIf="isLogged">
        Agregar
    </button>

  </div>

  </h2>
<div id="cards-group">
  <div class="proyect-cards "  *ngFor="let pro of proyectos">

    <div class="card">
      <div class="card'image" ></div>
      <h5 class="card-title">{{pro.nombre}}</h5>
      <p>{{pro.descripcion}}</p>
<div id="button-gruop">
      <td *ngIf="isLogged">
        <button class="btn btn-warning" routerLink="/editproy/{{pro.id}}">
            <i class="bi bi-pencil-fill"></i> Editar</button>
    </td>
    <td *ngIf="isLogged">
        <button class="btn btn-danger" (click)="delete(pro.id)">
            <i class="bi bi-trash-fill"></i> Borrar</button>
    </td>
  </div>
    </div>
  </div>
</div>
</div>
