<div class="row" id="presentacion">
  <h2 class="presentacion-h2">Presentacion</h2>
   <div class="col-lg-2"></div>

  <div class="">
      <table class="table">
          <tbody>
              <tr *ngFor="let per of personas">
                  <td>
                      {{per.presentacion}}
                  </td>

                  <td *ngIf="isLogged">
                      <button class="btn btn-warning" routerLink="/editper/{{per.id}}">
                          <i class="bi bi-pencil-fill"></i> Editar</button>
                  </td>




              </tr>
          </tbody>
      </table>
  </div>

</div>
